$font-sm:15px;
$font-md:20px;
$font-lg:45px;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$mainfont: 'Poppins', sans-serif;

$primary-color: white;
$secondary-color: #bec1c7;

$primary-red: #c20018;
$secondary-red: #dc3b37;
$third-red: #cb1815;
$primary-green: #80dd91;
$secondary-green: #00663c;
$third-green: #0c4524;